* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.3rem;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Utility */

.text-white {
	color: white;
}

div.reel-header-item a {
	text-decoration: none;
	color: inherit;
	font-size: 1rem;
}

.text-small {
	font-size: 0.9rem;
}

/* Header */

.reel-header-item {
	margin: 20px 20px;
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.reel-footer {
	line-height: 1.2;
}

div.footer-menu {
	display: flex;
	background-color: black;
}

div.footer-menu-item {
	width: calc(100% / 5);
	height: 100%;
	text-align: center;
}

p.footer-icon-content {
	font-size: 6px;
}

/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 80px;
    min-height: 200vh;
}

.sidebar-img {
	width: 40px;
	border: 1px solid white;
	border-radius: 50%;
}

.sidebar-item {
	display:flex;
    flex-direction:column;
    align-items:center;
    color:white;
    cursor:pointer;
	padding-top: 15px;

}

.sidebar-item-icon {
	font-size: 1.5rem;
}

.sidebar-item-content{
	font-size: 0.7rem;
}


/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

/* .debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
} */

/* --------------------- */